/* ................................................................SELECTOR UNIVERSAL
*{
    color: red;
} */

/* h1{
    color: saddlebrown;
} */
/* ..............................................................Selectores descendentes */
/* div article p{
    font-size: 20px;
}

.grande{
    font-size: 30px;
}

div > p{
    font-size: 60px;
}

input[type]{}
input[type="text"]{} */

/* ......................................................................FONDOS */

/* Valores que podemos usar en las propiedades
background: repeat | no-repeat | repeat-x | repeat-y;

background-size: auto | 100px 100px | 100% 100% | cover: tamaña completo | contain;

Explicacion de valores para background-size
	auto: Valor por defecto, el ancho y alto de la imagen.
	ancho y alto: Ancho y alto que nosotros le especifiquemos, si solo ponemos el primer valor, el segundo sera automatico.
	porcentaje:  Porcentaje del ancho y alto que tendra el fondo tomando en cuenta el contenedor padre.
	cover: Ajusta el ancho de la imagen para que avarque el ancho del contenedor padre.
	contain: Ajusta la imagen para que avarque el ancho y alto del contenedor padre.

background-attachment: scroll | fixed ;
*/

/* body { 

     background: #04B4AE; 
    

     background-repeat: 
    background-repeat: no-repeat; para que nose repitan las imagenes y solo quede una
    background-repeat: repeat-x; se repite en el eje x
    background-repeat: repeat-y; se repite en el eje y 
    background: url("../Imagenes/watercolor.png");
    background-repeat: repeat;
     background-size: cover; 
    background-attachment: fixed;
     background-position: center center; 
} */
 /* .fondo{
    width: 600px;
    height: 600px;
    background: url("../Imagenes/bg.jpg") #000;
    background-repeat: no-repeat;
    background-size: 200px;
}
  */
/* -----------------------------------------------------------------Tipografia */
/* h1{
    font-family: Arial, Helvetica, sans-serif;
     background-color: red;
}
article p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} */


 /* .................................................................UNIDADES DE COLOR  */


 /* .caja{
     height: 300px;
     width: 300px;
     por palabras clave
     background: cadetblue;
     por rgb
    background: rgb(46,66 ,66 );
 } */
 /* .................................................................MODELOS DE CAJA  */

 /* 
*{
    padding: 0;
    margin: 0;
} */
/* .caja{
    width: 200px;
     height: 200px;  
    background-color: chartreuse;
    margin: 30px 10px;
    padding: 10px 5px;
    text-align: justify;
}

.caja p{
    background: chocolate;
} */

/* --------------------------------------------------------------TIPOS DE ELEMENTOS */

/* body{
    background: #f2f2f2;
    font-family: Arial;
} */


/* Existen 2 tipos de elementos, los de bloque (block) y los en linea (inline).
Los block tienen por defecto un ancho del 100% y ademas no pueden tener (por defecto) 
otro elemento a un lado.

Y los inline tienen el ancho que solo necesitan y (por defecto) los elementos 
automaticamente se ponen al lado del otro.*/

/* h1, p, div{
    background: #ccc;
    padding: 10px;
    width: 500px;
    display: inline-block;
}
a{
    
    background: #000;
    color: #fff;
    display: inline-block;
} */
    
/*  Algunos elementos "inline"
    a, span, img, b, i, small, cite, code,
    em, strong, br, script, button, 
    input, label, select, textarea.
*/  
    
/*  Algunos elementos "block"
	div, article, section, header
	footer, aside, table, p, video,
	ul, ol, h1, h2, h3, h4, h5, h6
*/

/* ------------------------------------------------------------------DISEÑO DE BOTONES */
/* body{
    background: #f2f2f2;
    font-family: Arial;
}

div{
    margin: 20px 0;

}
.btn{
    background: #32021f;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;  muy importante 
    margin: 0 10px;
}
.btn:hover{
    opacity: 0.8;
} */

/* tamaños */

/* .small{
    font-size: 14px;
    padding: 10px 15px;
}
.medium{
    font-size: 14px;
    padding: 15px 20px;
}
.big{
    font-size: 14px;
    padding: 20px 25px;
}
.extra-big{
    font-size: 14px;
    padding: 25px 30px;
} */

/* Colores */
/* .azul{background: mediumblue;}
.verde{background: chartreuse;}
.naranja{background: darkorange;}

.border-radius{
    border-radius: 100px;
} */

/* -------------------------------------------------------POSICIONAMIENTO DE CAJAS */

*{
    margin: 0;
    padding: 0;
}

body{
    background: #f2f2f2;
}
.caja{
    width: 200px;
    height: 200px;
    background: blueviolet;
    margin: 20px;
}
.posicionada{
    background: cadetblue;
    position: relative;
}